server:
  port: 8081
spring:
  application:
    name: hmdp
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://117.72.183.76:3306/secondtrading
    username: root
    password: 0.
mybatis-plus:
  type-aliases-package: com.hmdp.entity # 别名扫描包